/**
* File Name : style.css
* Version : 1.0
* Description : POSSE課題 完成版
* Since : 2023-05-07
*
* ---- Table of Contents ----
*
* 1.0 - Common
*    1.1 - カスタムプロパティ
*    1.2 - ベーススタイル
*    1.3 - 汎用スタイル
*
* 2.0 - Sections
*    2.1 - ヘッダー
*    2.2 - フッター
*    2.3 - メインビジュアル
*    2.4 - POSSEとは
*    2.5 - イベント
*    2.6 - 日常生活
*    2.7 - 公式LINE
*
* 3.0 - Animation, JavaScript Object
*    3.1 - フェードイン
*    3.2 - スライダー
*
*/

/* 1.0 - Common */
/* ============================================ */

/**
 * 1.1 - カスタムプロパティ
 *
 * https://developer.mozilla.org/ja/docs/Web/CSS/Using_CSS_custom_properties
 */

/**
 * 1.2 - ベーススタイル
 */
body {
  color: #333333;
  font-family: 'Noto Sans JP';
}

@media (max-width: 767px) {
  body {
    color: #0071BC;
  }
}

/**
 * 1.3 - 汎用スタイル
 */

/* 2.0 - Sections */
/* ============================================ */

/**
 * 2.1 - ヘッダー
 */
.header {
  display: flex;
  align-items: center;
  justify-items: center;
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 9999;
  background-color: #ffffff;
  justify-content: space-between;
}

.nav {
  display: flex;
  flex-direction: row;
}

@media (max-width: 767px) {
  .nav {
    display: none;
  }
  .button {
  width: 42px;
  height: 42px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
  .button span{
    width: 30px;
    height: 2px;
    background-color: #0071BC;
  }

  .button span:nth-child(1) {
    margin-top: 13px;
  }

  .button span:nth-child(2) {
    margin-top: 7px;
  }

    .button span:nth-child(3) {
    margin-top: 7px;
  }

  /**{
    outline:2px red solid;
  }*/
}

.li {
  color: #0071bc;
  margin: 12px;
}

.ul-sns {
  display: flex;
  margin: 10px;
}

.ul-contents {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 40px;
  height: 40px;
  margin: 16px;
}

.posselogo {
  margin-left: 24px;
}

/**
 * 2.2 - フッター
 */
.footer {
  /* position: absolute; */
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.logo0 {
  padding: 12px;
  margin: 10px;
}

.kousiki {
  color: #8a8989;
  font-size: 14px;
}

.footer-icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.footer-text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  color: #919090;
  font-family: Plus Jakarta Sans;
}

/**
 * 2.3 - メインビジュアル
 */
.main-section {
  background-image: url(../img/bg-mainvisual.jpg);
  height: 760px;
  background-size: cover;
  position: relative;
}

@media (max-width: 767px) {
  .main-section {
    background-image: url(../img/sp/bg-mainvisual.jpg);
    background-size: cover;
    height: 380px;
    position: relative;
  }
}

.main-div {
  position: absolute;
  bottom: 0;
}

@media (max-width: 767px) {
  .main-div {
    padding-left: 12px;
  }
}

.h1 {
  height: 43px;
  width: 617px;
  background-color: #ffffff;
  padding-right: 4px;
  padding-left: 20px;
  padding-top: 5px;
  font-size: 24px;
  color: #0071bc;
  font-weight: bold;
}

@media (max-width: 767px) {
  .h1 {
    height: 22px;
    width: 297px;
    font-size: 10px;
    font-weight: 700;
  }
}

.p {
  height: 108px;
  width: 710px;
  background-color: #ffffff;
  padding-left: 20px;
  padding-top: 20px;
  font-size: 60px;
  color: #333333;
  font-weight: bold;
  margin-top: 12px;
  margin-bottom: 40px;
}

@media (max-width: 767px) {
  .p {
    height: 47px;
    width: 299px;
    font-size: 24px;
    font-weight: 700;
    margin-top: 8px;
    margin-bottom: 16px;
    padding-top: 7px;
  }
}

.main-scroll {
  position: absolute;
  right: 2%;
  bottom: 2%;
  color: #ffffff;
  font-family: Plus Jakarta Sans;
}

@media (max-width: 767px) {
  .main-scroll {
    display: none;
  }
}

.main-scroll::before {
  content: "";
  background-color: #ffffff;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  display: inline-block;
}

/**
 * 2.4 - POSSEとは
 */
.h_1 {
  font-weight: bold;
  font-size: 30px;
  margin-top: 80px;
}

@media (max-width: 767px) {
  .h_1 {
    margin-top: 30px;
    font-size: 24px;
  }
}

.aboutposse {
  color: #0071bc;
  margin-top: 10px;
  font-family: Plus Jakarta Sans;
}

@media (max-width: 767px) {
  .aboutposse {
    font-size: 10px;
  }
}

.div_1 {
  text-align: center;
}

.section_1 {
  margin-top: 80px;
  margin: 0 auto;
  justify-content: center;
}

@media (max-width: 767px) {
  .section_1 {
    padding-left: 2%;
    padding-right: 2%;
    margin: 0 auto;
    justify-content: center;
  }
}

.div_2 {
  /* padding-left: 25%; */
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-bottom: 80px;
}

@media (max-width: 767px) {
  .div_2 {
    margin-top: 20px;
    margin-left: 12px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
}

.img_3 {
  height: 312px;
  width: 470px;
  /* margin-left: -130px; */
  margin-right: 40px;
  border-radius: 20px;
}

@media (max-width: 767px) {
.img_3 {
  width: 351px;
  height: 233px;
  border-radius: 10px;
}
}

.p_1 {
  line-height: 180%;
}

@media (max-width: 767px) {
  .p_1 {
    font-weight: 400;
    font-size: 14px;
    line-height: 180%;
    margin-top: 20px;
    margin-bottom: 80px;
  }
}

/**
 * 2.5 - イベント
 */

.div_event {
  text-align: center;
  align-items: center;
}

.h_1event {
  font-weight: 700;
  font-size: 36px;
  margin-top: 120px;
}

.english_event {
  color: #0071bc;
  margin-top: 10px;
  margin-bottom: 40px;
  font-family: Plus Jakarta Sans;
}

.event_p {
  line-height: 180%;
  margin-bottom: 40px;
}

.event_pictures_parents {
  display: flex;
  flex-direction: column;
  width: 320px;
  height: 301px;
  background-color: #F7F9FB;
}

@media (max-width: 767px) {
  .event_pictures_parents {
    overflow-x: auto;
    flex-shrink: 0;
    scroll-snap-align: start;
  }
}

.event_pictures {
  width: 320px;
  height: 200px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.div_event_pictures {
  display: flex;
  flex-direction: row;
  text-align: center;
  gap: 40px;
  justify-content: flex-start;
  overflow-x:auto;
  width: 100%;
}

@media (max-width: 767px) {
  .div_event_pictures {
    /*display: grid;
    grid-template-rows: repeat(320px);*/
    overflow: scroll;
    min-width: 375px;
  }
}

.months_p {
  border: solid 3px #0071BC;
  background-color: #0071BC;
  width: fit-content;
  margin: 0 auto;
  color: #ffffff;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Plus Jakarta Sans;
}

.event_name_p {
  font-weight: 700;
}

/**
 * 2.6 - 日常生活
 */
.dailylife_section {
  display: flex;
  flex-direction: column;
}

.dailylife_div {
  text-align: center;
  align-items: center;
  margin-top: 80px;
}

.dailylife_japanese_h1 {
    font-weight: 700;
    font-size: 36px;
    margin-top: 120px;
}

.dailylife_english_daily_record {
  color: #0071bc;
  margin-top: 10px;
  margin-bottom: 40px;
  font-family: Plus Jakarta Sans;
}

.dailylife_contents_title {
  display: flex;
  flex-direction: row;
}

.dailylife_lead_p {
  line-height: 180%;
  margin-bottom: 80px;
}


.dailylife_numbers_p {
  font-size: 58px;
  font-weight: 700;
  color: #0071BC;
  margin-left: 48px;
  margin-top: 48px;
  font-family: Plus Jakarta Sans;
}

.dailylife_contents_name {
  font-size: 24px;
  margin-top: 70px;
  font-weight: 700;
}

.dailylife_contents_explanation {
  font-size: 14px;
  line-height: 180%;
  margin-left: 56px;
  padding-bottom: 58px;
}

.dailylife_img {
  width: 480px;
  height: 320px;
  border-radius: 10px;
}

.dailylife_two_information_div {
  font-weight: 700;
  font-size: 14px;
  margin-top: 20px;
  margin-left: 56px;
}

.Dailylife_letters_mondays {
  display: flex;
  flex-direction: row;
  margin-bottom: 4px;
}

.Dailylife_mondays_img {
  margin-right: 8px;
}


.dailylife_card_div {
  display: flex;
  flex-direction: row;
  margin-bottom: 120px;
  width: 940px;
  height: 324px;
  background-color: #F7F9FB;
}

.dailylife_contents_right_image {
  width: 470px;
  height: 218px;
}

.dailylife_whole_ul {
  margin: 0 auto;
}

.Daily-life_li:nth-child(2) .dailylife_card_div {
  flex-direction: row-reverse;
}

.dailylife_contents_img img {
  margin-top: -40px;
  margin-left: 40px;
}
.dailylife_contents_special_img img{
  margin-top: -40px;
  margin-left: -100px;
}


/**
 * 2.7 - 公式LINE
 */
.line_official_section {
  background-image: url(../img/bg-cta.jpg);
  background-size: cover;
  height: 335px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

@media (max-width: 767px) {
  .line_official_section {
    background-image: url(../img/sp/bg-cta.jpg);
    background-size: cover;
    width: 375px;
    height: 337px;
  }
}

.line_icon_img {
  width: 40px;
  height: 40px;
}

.line_official_h2 {
  font-size: 36px;
  color: #ffffff;
  font-weight: 700;
  letter-spacing: 10%;
}

@media (max-width: 767px) {
  .line_official_h2 {
    font-size: 24px;
  }
}

.line_official_explanation {
  font-size: 14px;
  font-weight: 400;
  line-height: 180%;
  letter-spacing: 5%;
  color: #ffffff;
  margin-top: 20px;
  margin-bottom: 32px;
}

.line_official_button_div {
  width: 315px;
  height: 55px;
  background-color: #ffffff;
  border-radius: 98px;
  border-width: 1px;
  border-color: #0071BC;
  padding-top: 16px;
  padding-right: 20px;
  padding-left: 20px;
}

:hover .line_official_button_div {
  background-color: #0071BC;
  border-color: #ffffff;
}

.line_button {
  color: #0071BC;
}

:hover .line_button {
  color: #ffffff;
}

/* 3.0 - Animation, JavaScript Object */
/* ============================================ */

/**
 * 3.1 - フェードイン
 */

/**
 * 3.2 - スライダー
 */


/**
  * sp
  */
